:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --acent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primaty-black-color: #000000;
  --contact-footer-color: rgba(255, 255, 255, 0, 6);
  --background-secondary-color: #f5f4fa;
  --background-dark-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.visually__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1230px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
  .menu {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__item:first-child {
    margin-bottom: 10px;
  }
}
.header {
  height: 60px;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .header__container {
    height: 80px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
  }
}

.logo__part--accent {
  color: var(--acent-color);
}

.logo_upper {
  color: var(--primaty-black-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 83px;
}

.nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.nav__link.current::after {
  content: "";
  position: absolute;
  left: -4%;
  bottom: -1px;
  border-radius: 2px;
  display: block;
  width: 108%;
  height: 4px;
  background-color: var(--acent-color);
}

.current {
  color: var(--acent-color);
}

@media screen and (min-width: 1200px) {
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__item {
    margin-right: 30px;
  }
  .contact__item:last-child {
    margin-right: 0;
  }
}
.contact__link--envelope {
  padding-top: 21px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: var(--primary-text-color);
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .contact__link--envelope {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__link--phone {
  padding-bottom: 21px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: var(--primary-text-color);
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .contact__link--phone {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__icon {
  fill: currentColor;
}
.contact__icon--envelope {
  width: 14px;
  height: 10px;
}
.contact__icon--phone {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .contact__icon {
    margin-right: 10px;
  }
  .contact__icon--envelope {
    width: 16px;
    height: 12px;
  }
  .contact__icon--phone {
    width: 10px;
    height: 16px;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
  .contact__list {
    display: none;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  .menu {
    display: none;
  }
  .menu.is-open {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 48px 83px 48px 40px;
    background-color: var(--primary-white-color);
  }
  .menu .header__button {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .menu .header__button:hover,
.menu .header__button:focus {
    fill: var(--acent-color);
  }
  .menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .menu__link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  .menu__link:hover,
.menu__link:focus {
    color: var(--acent-color);
  }
  .contact__item {
    margin-bottom: 32px;
  }
  .contact__item:last-child {
    margin-bottom: 64px;
  }
  .contact__link--blue {
    color: var(--acent-color);
    font-size: 34px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
  .contact__link {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social__item {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .social__item:last-child {
    padding-right: 0;
    margin-right: 0;
    border: none;
  }
  .social__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--acent-color);
  }
}
.hero {
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/img-hero480.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-hero480.jpg");
  background-size: 767px 400px;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/img-hero768.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-hero768.jpg");
    background-size: 1199px 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/img-hero.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-hero.jpg");
    background-size: 1600px 600px;
  }
}

.hero__title {
  text-transform: uppercase;
  text-align: center;
  width: 360px;
  color: var(--primary-white-color);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  margin: 0 auto 30px auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    width: 696px;
  }
}

.button__open {
  padding: 10px 24px;
  min-width: 200px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--acent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .button__open {
    padding: 10px 32px;
    min-width: 216px;
  }
}

.button__close {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 9px;
  padding-right: 9px;
  margin-top: 8px;
  margin-right: 8px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.button__close:hover, .button__close:focus {
  fill: var(--acent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__submit {
  display: inline-block;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  margin-bottom: 40px;
  padding: 10px 52px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  color: #ffffff;
}
.button__submit:hover {
  background-color: #188ce8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  min-height: 609px;
  background-color: var(--primary-white-color);
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__title {
  margin: 40px 40px 12px 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: var(--title-text-color);
}

.form {
  width: 370px;
  margin: 0 40px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .form {
    width: 448px;
  }
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  text-align: start;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__wrap {
  position: relative;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 12px 0px 12px 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form__input:focus {
  border: 1px solid var(--acent-color);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icon {
  fill: var(--acent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  translate: 0 -50%;
}

.form__field--textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form__textarea:focus {
  border: 1px solid var(--acent-color);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .form__textarea::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form__textarea::-moz-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form__textarea:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form__textarea::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form__textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
}

.form__link {
  color: var(--acent-color);
}

.form__checkbox {
  min-width: 370px;
  height: 15px;
  margin-left: 40px;
  margin-right: 38px;
  margin-bottom: 30px;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .checkbox__label {
    width: 425px;
  }
}

.checkbox__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 4px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.checkbox__input:checked + .checkbox__wrap {
  background-color: var(--acent-color);
  border: 2px solid var(--acent-color);
  border-radius: 2px;
}

.checkbox__text {
  font-size: 12px;
  line-height: 1.17px;
}
@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 768px) {
  .benefits {
    padding-bottom: 0;
  }
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .benefits__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    margin-right: 30px;
    width: calc((100% - 60px) / 2);
  }
  .benefits__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 120px) / 4);
  }
  .benefits__item:nth-child(2n) {
    margin-right: 30px;
  }
  .benefits__item:last-child {
    margin-right: 0;
  }
}
.benefits__icon {
  display: block;
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 190px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .benefits__icon {
    padding: 25px 142px;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__icon {
    width: 270px;
    padding: 25px 100px;
  }
}

.benefits__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.benefits__text {
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}
.services__title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--title-text-color);
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__item {
  position: relative;
  margin-right: 30px;
}
.services__item:last-child {
  margin-right: 0;
}

.services__text {
  position: absolute;
  bottom: 3px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team.section {
  background-color: var(--background-secondary-color);
}

.team__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  color: var(--title-text-color);
}

.card__text {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
}

.card__image {
  display: block;
  margin-bottom: 30px;
}

.team__item {
  margin-right: 30px;
  background-color: var(--primary-white-color);
}
.team__item:last-child {
  margin-right: 0;
}

.card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-right: 10px;
  padding: 12px;
}
.card__item:hover {
  cursor: pointer;
  background-color: var(--acent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__item:focus-within {
  background-color: var(--acent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link {
  fill: #afb1b8;
}

.card__item:hover .card__link {
  fill: var(--primary-white-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:focus {
  fill: var(--primary-white-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--title-text-color);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client__item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
}
.client__item:last-child {
  margin-right: 0;
}
.client__item:hover, .client__item:focus-within {
  border: 1px solid var(--acent-color);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link {
  fill: #afb1b8;
}

.client__item:hover .client__link,
.client__link:focus {
  fill: var(--acent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__item {
  margin-right: 8px;
  margin-bottom: 50px;
}
.filter__item:last-child {
  margin-right: 0;
}

.filter__button {
  padding: 6px 22px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--background-secondary-color);
}
.filter__button:first-child {
  padding: 6px 25px;
}
.filter__button:hover, .filter__button:focus {
  color: var(--primary-white-color);
  background-color: var(--acent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__item {
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
}
.projects__item:nth-child(3n) {
  margin-right: 0;
}
.projects__item:nth-child(n+7) {
  margin-bottom: 0;
}

.projects__link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.projects__card:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__card:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.projects__image {
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
}

.overlay__text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}

.projects__frame {
  border: solid 1px #eeeeee;
}

.projects__title {
  margin-bottom: 4px;
  margin-left: 24px;
  padding-top: 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects__text {
  margin-left: 24px;
  font-size: 16px;
  line-height: 1.88;
  padding-bottom: 20px;
  color: var(--primary-text-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-dark-color);
}

.footer__list--main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item--primary {
  margin-right: 70px;
}

.logo__lower {
  color: var(--primary-white-color);
}

.address__address {
  margin-top: 20px;
}

.address__text {
  line-height: 1.71;
  font-style: normal;
  color: var(--primary-white-color);
}

.address__link {
  line-height: 1.71;
  font-style: normal;
  color: var(--contact-down-color);
}

.address__link:hover,
.address__link:focus {
  color: var(--acent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__item--secondary {
  margin-top: 12px;
  margin-right: 93px;
}
.footer__item--secondary:last-child {
  margin-right: 0;
}

.footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.card__item--black {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
}
.card__item--black:hover {
  cursor: pointer;
  background-color: var(--acent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__item--black:focus-within {
  background-color: var(--acent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__item--black:hover .card__link {
  fill: var(--primary-white-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__wrap--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__field--footer {
  margin-right: 12px;
}

.form__input--footer {
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--background-dark-color);
  color: var(--primary-white-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.form__input--footer::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form__input--footer::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form__input--footer:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form__input--footer::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form__input--footer::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form__input--footer:focus {
  border: 1px solid var(--acent-color);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button--wrap {
  position: relative;
}

.form__button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 28px 10px 28px;
  border: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  text-align: start;
  letter-spacing: 0.06em;
  background-color: var(--acent-color);
  color: #ffffff;
}

.form__icon--footer {
  position: absolute;
  top: 50%;
  right: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}/*# sourceMappingURL=main.css.map */