@import "./mixins";
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
.visually__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @include mobile{
    width: 480px;
  }
  @include tablet{
    width: 768px;
  }
  @include desktop{
    width: 1230px;
  }
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop{
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.no-scroll{
  overflow: hidden;
}
img{
  display: block;
  max-width: 100%;
}