.benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
@include tablet{
    .benefits {
        padding-bottom: 0;
    }

    @include desktop{
        flex-wrap: nowrap;
    }
    }
    .benefits__item {
        max-width: 450px;
        @include tablet{   
        width: calc((100% - 60px)/2);
        }
        @include desktop {
            width: calc((100% - 120px)/4);
            &:nth-child(2n){
                margin-right: 30px;
            }
            &:last-child{
                margin-right: 0;
            }
        }
}
}
.benefits__wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #f5f4fa;
    @include tablet{
        padding: 25px 142px;
        width: 354px;
    }
    @include desktop {
        width: 270px;
        padding: 25px 100px;
    }
}

.benefits__title {
    margin-bottom: 10px;

    @include font(14px, 700, 1.14);
    text-transform: uppercase;

    color: var(--title-text-color);
    @media screen and (min-width: 320px) and (max-width: 767px) {
        text-align: center;
    }
}

.benefits__text {
    line-height: 1.71;
}