.clients__title {
    margin-bottom: 30px;

    text-align: center;
    color: var(--title-text-color);
    @include desktop{
        margin-bottom: 50px;
    }
}

.clients__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    @include desktop{
        justify-content: center;
    }
}

.client__item {
    width: 210px;
    height: 92px;

    padding: 16px 52px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    @include tablet{
        width: 226px;
        padding: 16px 60px;
    }
    @include desktop{
        width: 170px;
        padding: 16px 32px;
    }
&:last-child {
    margin-right: 0;
}

&:hover,
&:focus-within {
    border: 1px solid var(--acent-color);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

.client__link {
    fill: #afb1b8;
}

.client__item:hover .client__link,
.client__link:focus {
    fill: var(--acent-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}