.hero {
    margin-right: auto;
    margin-left: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    letter-spacing: 0.06em;
    text-align: center;
    background-color: #c4c4c4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/img-hero480.jpg');
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/img-hero480b.jpg');
        }
    @include tablet{
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/img-hero768.jpg');
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url('../images/img-hero768b.jpg');
        }
    }
    @include desktop{
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/img-hero1600.jpg');
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/img-hero1600b.jpg');
        }
   }
}
.hero__title {
    text-transform: uppercase;
    text-align: center;
    @media screen and (max-width: 1199px){
        max-width: 360px;
    }
    color: var(--primary-white-color);
    @include fontl(26px, 900, 1.62, 0.06em);
    margin: 0 auto 30px auto;
    @include desktop{
        @include font(44px, 900, 1.36);
        width: 696px;
    }
}